.caixa {
  padding: 0em 10% 1em 10%;
}

.content {
  display: block;
  background-color: var(--verde-escuro);
  border: 1px solid rgb(140, 140, 140);
  border-radius: 2%;
  box-shadow: 2px 11px 20px 0px var(--sombra-preto-transparente);
  margin-bottom: 3em;
}

.foto1 {
  width: 80%;
  border-radius: 5%;
  margin: 10%;
}

.texto-descricao {
  font-size: 1.1em;
  color: var(--branco);
  text-align: center;
  padding: 0 0.3em 1em 0.3em;
}

.maknae {
  font-weight: normal;
}

.foto2 {
  display: none;
}
