.caixa {
  padding: 1% 8%;
}

/* ARTIGO */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--verde-escuro);
  border: 1.7px solid rgb(140, 140, 140);
  border-radius: 3%;
  box-shadow: 13px 14px 10px 0px var(--sombra-preto-transparente);
  margin: 3rem 4rem 6rem 4rem;
}

.foto_preto {
  border: 1.7px solid rgb(140, 140, 140);
  margin-top: 30px;
  width: 80%;
  border-radius: 5%;
}

.texto-descricao {
  font-size: 1.5rem;
  color: var(--branco);
  text-align: center;
  padding: 2rem 4rem;
}

.maknae {
  font-weight: normal;
}

.foto_branco {
  display: none;
}
