@import url("integrantes.css");
@import url("clipes.css");
@import url("curiosidaes.css");

:root {
  /* CORES */
  --verde: #617763e5;
  --verde-escuro: #617763;
  --creme: #b69c8c;
  --creme-claro: #f3dfcc;
  --branco: #fff;
  --preto: #000;

  --sombra-preto-transparente: rgba(0, 0, 0, 0.321);

  /* FONTE */
  --fonte-principal: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: var(--fonte-principal);
  color: var(--branco);
  font-size: 16px;
  font-weight: 300;
}

/* header -> imagem e menu*/
.cabecalho {
  background-color: var(--preto);
}

/* imagem banner*/
.banner_principal {
  background-repeat: no-repeat;
  width: 100vw;
}

/* nav -> toda a seção do menu*/
.nav {
  background-color: var(--creme);
  padding: 0.3em 7em;
}

/* ul -> cria a lista*/
.nav_lista {
  font-size: 1.5em;
  list-style-type: none;
}

/* li -> items do menu*/
.nav_item {
  border: 2px solid rgba(0, 0, 0, 0.504);
  border-radius: 20px;
  text-align: center;
  padding: 0.2em;
  margin: 7px auto;
}

/* <a> links que estão dentro do item <li>*/
.nav_txt {
  width: 100%;
  color: var(--preto);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.ativo:visited {
  color: white;
}

/* main -> todo corpo da página*/
.container {
  background-color: var(--verde);
  box-shadow: inset 0px 20px 20px 0px var(--sombra-preto-transparente);
}

/* títulos de maiores destaques, como h1 e h2*/
.titulo {
  color: var(--branco);
  text-align: center;
  padding: 1.2em;
  font-size: 2em;
  font-weight: 700;
}

/* parágrafos comuns*/
.texto {
  color: var(--branco);
  text-align: center;
  padding: 0.2em 2em;
  font-size: 1.5em;
}

/* h3 com overline*/
.texto_secundario {
  color: var(--branco);
  text-align: center;
  text-decoration: overline;
  padding: 2.3em 0 0.7em 0;
  font-size: 2em;
  text-transform: uppercase;
}

/* links de informação que levam a páginas externas*/
.link {
  color: var(--branco);
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.645);
  font-style: italic;
}

/* LEGENDAS DAS ABREVIAÇÕES DOS NOMES */
abbr {
  text-decoration: none;
  font-weight: bold;
}

/* div que guarda o video*/
.video {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* video do YouTube
.video_slay {
}
*/

.players-spotify {
  margin: auto;
  width: 60vw;
  padding-bottom: 4rem;
}

.player {
  box-shadow: 0px 0px 20px 0px rgba(202, 202, 202, 0.46);
}

.titulo-album {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em 0;
  text-align: center;
}

/* faixa de submenu rodapé */
.redes-sociais {
  background-color: var(--creme);
  display: flex;
  justify-content: space-around;
  box-shadow: 0px -20px 20px 0px var(--sombra-preto-transparente);
}

.redes-sociais > a {
  text-decoration: none;
}

.redes-sociais > a > img {
  width: 100%;
  margin: 0.7em 0;
}

.rodape {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.texto-rodape {
  color: var(--branco);
  font-size: 1.3em;
}

.logo-rodape {
  width: 40%;
}

/*---------- INTEGRANTES ----------------------------------------------------*/

.content {
  background-color: #617763;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 6px;
  box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.482);
}

.foto1 {
  margin: 5%;
  padding: 4%;
  width: 90vw;
  border-radius: 6%;
}

.texto-descricao {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.9rem;
}

.foto2 {
  display: none;
}
