@import url("integrantes.css");
@import url("clipes.css");
@import url("curiosidades.css");

:root {
  /* CORES */
  --verde: #617763e5;
  --verde-escuro: #617763;
  --creme: #b69c8c;
  --creme-claro: #f3dfcc;
  --branco: #fff;
  --preto: #000;
  --cinza: rgb(40, 40, 40);

  --sombra-preto-transparente: rgba(0, 0, 0, 0.321);

  /* FONTE */
  --fonte-principal: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: var(--verde);
  font-family: var(--fonte-principal);
  /* color: var(--branco); */
  /* font-size: 16px; */
  /* font-weight: 300; */
}

/* header -> imagem e menu*/
.cabecalho {
  background-color: var(--preto);
}

/* imagem banner*/
.banner_principal {
  background-repeat: no-repeat;
  width: 100vw;
  position: fixed;
  top: 0;
}

/* nav -> toda a seção do menu*/
.nav {
  background-color: var(--creme);
  padding: 0.2rem 13%;
  margin-top: 33%;
}

/* ul -> cria a lista*/
.nav_lista {
  font-size: 2.2rem;
  list-style-type: none;
}

/* li -> itens do menu*/
.nav_item {
  border: 3px solid rgba(0, 0, 0, 0.504);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px var(--sombra-preto-transparente);
  text-align: center;
  padding: .4rem;
  margin: 13px auto;
}

/* <a> links que estão dentro do item <li>*/
.nav_txt {
  display: block;
  width: 100%;
  color: var(--preto);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.ativo:visited {
  color: white;
}

/* main -> todo corpo da página*/
.container {
  /* background-color: var(--verde); */
  box-shadow: inset 0px 0px 20px 10px var(--sombra-preto-transparente);
}

/* títulos de maiores destaques, como h1 e h2*/
.titulo {
  color: var(--branco);
  text-align: center;
  padding: 3rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}

/* parágrafos comuns*/
.texto {
  color: var(--branco);
  text-align: center;
  padding: .7rem 2rem;
  font-size: 1.5rem;
}

/* h3 com overline*/
.texto_secundario {
  color: var(--branco);
  text-align: center;
  text-decoration: overline;
  padding: 5rem 2rem 3rem 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* links de informação que levam a páginas externas*/
.link {
  color: var(--branco);
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.645);
  font-style: italic;
}

/* LEGENDAS DAS ABREVIAÇÕES DOS NOMES */
abbr {
  text-decoration: none;
  font-weight: bold;
}

/* div que guarda o video*/
.video {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players-spotify {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  
}

.player {
  box-shadow: 0px 0px 20px 0px rgba(202, 202, 202, 0.46);
  margin-bottom: 2rem;
}

.titulo-album {
  color: var(--branco);
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
}

/* faixa de submenu rodapé */
.redes-sociais {
  background-color: var(--creme);
  display: flex;
  justify-content: space-evenly;
}

.redes-sociais > a {
  text-decoration: none;
}

.redes-sociais > a > img {
  width: 3.2rem;
  margin: 1rem;
}

.rodape {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.texto-rodape {
  color: var(--branco);
  font-size: 1.2rem;
}

.logo-rodape,
a {
  width: 60px;
}

/* telas médias como tablets 576px */


 /* @media screen and (min-width: 576px) {
  .nav {
    padding: 0.3em 7em;
  }

  .nav_lista {
    font-size: 1.5em;
  }

  .titulo {
    padding: 1.2em;
    font-size: 2.2em;
  }

  .texto {
    padding: 0.2em 2em;
    font-size: 1.9em;
  }

  /* h3 com overline*/
   /*.texto_secundario {
    padding: 2.3em 0 0.7em 0;
    font-size: 2.2em;
  }

  .titulo-album {
    font-size: 1.7em;
  }

  .redes-sociais > a > img {
    width: 100%;
    margin: 0.7em 0;
  }

  .texto-rodape {
    font-size: 1.3em;
  }

  .logo-rodape > a {
    width: 40%;
  }
}

/* telas grandes como monitores desktop */
/* @media screen and (min-width: 768px) {
}

/* telas grandes como monitores ultra  */
/* @media screen and (min-width: 992px) {
}

/* telas gigantes como as TV's */
/* @media screen and (min-width: 1200px) {
}
